/* G L O B A L */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', Helvetica, sans-serif;
}

.container {
    width: 1500px;
    margin: 0 auto;
    padding-left: 90px;
    padding-right: 90px;
}

.clear::after {
    clear: both;
    content: '';
    display: table;
}

a:link {
    color: inherit;
}

a:visited {
    /*color: inherit;*/
}

a:hover {
    /*color: inherit;*/
}

a:active {
    /*color: inherit;*/
}

a {
    text-decoration: none;
}

.prices .mainbox,
.slider button,
.form button{
    transition: all 0.2s linear;
}

/* H E A D E R */
header {
    width: 100%;
    background-color: black;
}

header .container {
    height: 60px;
    position: relative;
}

header .logo {
    width: 30%;
    margin-left: 100px;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
}

header .logo p {
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
}

header .logo span {
    color: #24BA9F;
}

header nav {
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(-5%, -50%);
    letter-spacing: 2px;
    z-index: 1;
}

header nav li {
    display: inline-block;
    list-style-type: none;
    font-size: 15px;
    text-align: right;
    padding-left: 60px;
    font-weight: bold;
}

header nav li a{
    cursor: pointer;
    color: white;
    transition: all 0.2s linear;
}

header nav li a:hover{
    cursor: pointer;
    color: #1CCCA8;
}

header .withDropDownMenu:hover:after{
    content: "";
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid black;
    position: absolute;
    top: 40px;
    left: 80px;
}

header .withDropDownMenu:hover .dropDownMenu {
    display: block;

}
header .withDropDownMenu {
    transition: all 0.2s linear;
}
header .dropDownMenu{
    position: fixed;
    top: -6px;
    left: -48px;
    width: 165px;
    color: white;
    line-height: 40px;
    box-sizing: content-box;
    padding: 60px;
    display: none;
    z-index: -1;
}

header .drop-down{
    list-style-type: none;
    font-size: 15px;
    font-weight: 700;
    margin: 0;
    display: block;
    padding-left: 22px;
    text-transform: none;
    letter-spacing: 1.2px;
    background-color: black;
    text-align: left;
}

header .drop-down a {
    cursor: pointer;
    color: white;
    transition: all 0.2s linear;
}

header .drop-down a:hover{
    cursor: pointer;
    color: #1CCCA8;
}

header .drop-down:first-child{
    padding-top: 8px;
}
header .drop-down:last-child{
    padding-bottom: 8px;
}



/*S E C T I O N * 1*/
.slider {
    width: 100%;
    background-color: white;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bababa+0,c9c9c9+100,aaaaaa+100&0+0,0.46+100 */
    background: -moz-linear-gradient(top, rgba(186,186,186,0) 0%, rgba(170,170,170,0.46) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(186,186,186,0) 0%,rgba(170,170,170,0.46) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(186,186,186,0) 0%,rgba(170,170,170,0.46) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bababa', endColorstr='#75aaaaaa',GradientType=0 ); /* IE6-9 */
}
.slider .container {
    position: relative;
    height: 650px;

}

.slider .bigbox {
    float: left;
    height: 600px;
    position: relative;
}

.phototext {
    width: 100%;
}
.slider .image {
    float: left;
    width: 35%;
    padding-top: 80px;
}

.slider .text {
    float: left;
    padding: 0 9%;
    width: 65%;
}

.slider img {
    margin-left: -12%;
}

.slider .text h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
    padding-bottom: 37px;
    padding-top: 180px;
}

.slider h1 span {
    color: #24BA9F;
}

.slider .text p {
    text-align: center;
    font-size: 20px;
    line-height: 27px;
    padding-bottom: 42px;
}

.slider button {
    width: 340px;
    height: 70px;
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
    color: white;
    background-color: #24BA9F;
    outline: 0;
    text-transform: uppercase;
    position: absolute;
    left: calc(50% - 170px);
    font-size: 31px;
}

.slider button:hover {
    color: black;
}

.right {
    position: absolute;
    right: 4%;
}

.left {
    position: absolute;
    left: 5%;
}

.arrow {
    position: absolute;
    color: #24BA9F;
    font-size: 100px;
    font-weight: 100;
    padding: 274.5px 0px;
    z-index: 99999;
    cursor: pointer;
    transition: all 0.2s linear;
}

/*S E C T I O N * 2*/
.gallery .photosarticle {
    width: 100%;
    background-color: white;
}
.gallery .container {
    padding-top: 50px;
    position: relative;
    height: 500px;
    background-color: white;
}

.gallery .smallbox {
    float: left;
    width: 33.33%
}

.gallery .article {
    height: 335px;
    border: #DEDEDE 1px solid;
}

.gallery img {
    position: relative;
}



.gallery .bar  {
    width: 29.33%;
    height: 80px;
    background-color: rgba(255,255,255, 0.5);
    z-index: 9999;
    position: absolute;
    top: 249px;
}



.gallery h3 {
    margin-left: 20px;
    padding-top: 17px;
    font-size: 20px;
}

.gallery .bar h3::after,
.gallery .article h3::after {
    width: 170px;
    height: 6px;
    background-color: #2CC6AE;
    content: "";
    display: table;
    z-index: 9999999999;
    padding-top: 4px;
}

.gallery span {
    text-transform: uppercase;
}

.gallery .article h3 {
    padding-top: 35px;
    padding-bottom: 30px;
    padding-left: 25px;
    margin :0;
    font-size: 23px;
}

.gallery .article p {
    padding: 0 25px;
    color: #5C5C5C;
    line-height: 25px;
    font-size: 18px;
}

/*S E C T I O N *3*/

.prices {
    height: 900px;
    background-color: #F1F1F1;
    width: 100%;
}

.prices h2 {
    padding-top: 50px;
    font-size: 28px;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.prices h2::after {
    width: 420px;
    height: 6px;
    background-color: #2CC6AE;
    content: "";
    display: table;
    z-index: 9999999999;
    margin-top: 4px;
    padding-top: 4px;
}

.prices section {
    float: left;
    margin-right: 30px;
}

.prices section:last-of-type {
    margin-right: 0;
}

.prices .maincircle,
.prices .mainbox{
    background-color: #F9F9F9;
    border: 2px solid #C2C2C2;
}

.prices .innercircle {
    background-color: #C2C2C2;
}

.prices .maincircle {
    width: 70px;
    height: 70px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    border-radius: 50%;
    top: -41.5px;
}

.prices .innercircle {
    width: 35px;
    height: 35px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    border-radius: 50%;
    top: calc(50% - 17.5px);
}

.prices .mainbox {
    box-sizing: border-box;
    width: 420px;
    height: 655px;
    margin-top: 50px;
    position: relative;
}

.prices h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    padding-top: 45px;
    color: #27C7AB;
}

.prices .pricecircle {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    position: absolute;
    right: calc(50% - 85px);
    top: calc(50% - 50px);
    background-color: white;
    border: 2px solid #C2C2C2;
}

.prices button {
    position: absolute;
    bottom: 30px;
    left: calc(50% - 76.5px);
    width: 153px;
    height: 40px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    outline: 0;
    border-radius: 10px;
    background-color: #27C7AB;
    color: #F9F9F9;
    font-size: 22px;
    text-transform: uppercase;
}

.prices ul {
    width: 100%;
    list-style-type: none;
    position: absolute;
    top: 330px;
}

.prices ul li {
    text-align: center;
    color: #818181;
    height: 54.5px;
    padding: 10px 0;
    font-size: 30px;
}

.prices ul li:nth-of-type(2n) {
    background-color: #F1F1F1;
}

.prices ul li:nth-of-type(2n+1) {
    background-color: #E4E4E4;
}

.prices .pricecircle p {
    font-weight: bold;
    color: #C2C2C2;
    font-size: 55px;
    text-align: center;
}

.prices .pricecircle p:first-of-type {
    padding-top: 35px;
    margin-left: -10px;
}

.prices .pricecircle .priceinfo {
    position: absolute;
    top: calc(50% - 85px);
}

.prices .pricecircle .msc {
    font-size: 20px;
    padding-top: 8px;
    text-transform: uppercase;
}

.prices .pricecircle .sup  {
    vertical-align: super;
    font-size: 18px;
    position: absolute;
    right: 35px;
    top: 35px;
}

.prices .priceinfo {
    position: relative;
    width: 100%;
    height: 170px;
}

.prices .mainbox:hover .maincircle,
.prices .mainbox:hover{
    background-color: #27C7AB;
    border: 2px solid #27C7AB;
}

.prices .mainbox:hover .pricecircle {
    color: #27C7AB;
    border: 2px solid #27C7AB;
}

.prices .mainbox:hover button {
    color: #27C7AB;
    background-color: white;
}

.prices .mainbox:hover .innercircle {
    background-color: white;
}

.prices .mainbox:hover ul li:nth-of-type(2n) {
    background-color: #F1F1F1;
}

.prices .mainbox:hover ul li:nth-of-type(2n+1) {
    background-color: white;
}

.prices .mainbox:hover h3 {
    color: white;
}

.prices .mainbox:hover .pricecircle p {
    color: #27C7AB;
}

/* S E C T I O N * 4 */
.form {
    width: 100%;
    height: 700px;
    background-color: white;
}

.form h2 {
    padding-top: 50px;
    font-size: 28px;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.form h2::after {
    width: 420px;
    height: 6px;
    background-color: #2CC6AE;
    content: "";
    display: table;
    z-index: 9999999999;
    margin-top: 4px;
    padding-top: 4px;
}

.form .leftbox {
    width: 60%;
    height: 470px;
    float: left;
}

.form .rightbox {
    float: right;
    width: 40%;
    height: 470px;
    position:relative;
}

.form input {
    width: 100%;
    height: 80px;
    padding: 20px;
    font-size: 40px;
    margin-top: 4%;
    border: 1px solid #2BC8AD;
}

.form textarea {
    height: 210px;
    width: 100%;
    resize: none;
    border: 1px solid #2BC8AD;
    margin-top: 4%;
    font-size: 40px;
    padding: 20px;
}

.form textarea::placeholder {
    color:#D6D6D6;
}


.form input::placeholder {
    color:#D6D6D6;
}

.form img[alt="red_chair"] {
    position: absolute;
    left: calc(50% - 175px);
}

.form img[alt="ok_form"] {
    position: absolute;
    left: 70px;
    bottom: 110px;
    border: 1px solid #2BC8AD;
    padding: 5px;
}

.form button {
    width: 440px;
    height: 84px;
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
    color: white;
    background-color: #24BA9F;
    outline: 0;
    text-transform: uppercase;
    position: absolute;
    left: calc(50% - 220px);
    bottom: 0px;
    font-size: 46px;
}

.form button:hover {
    color: black;
}

.form p {
    color: #D6D6D6;
    font-size: 23px;
}

.form .accept {
    width: 65%;
    position: absolute;
    right: 40px;
    bottom: 110px;
}


/*F O O T E R*/
footer  {
    width: 100%;
    height: 50px;
    background-color: white;
    margin-bottom: 50px;
}

footer .container {
    height: 50px;
    position: relative;
}

footer .logo {
    width: 30%;
    margin-left: 10px;
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-90%, -50%);
    text-align: right;
    font-size: 20px;
}

footer .logo p {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #989898;
}

footer .copy p {
    font-weight: bold;
    letter-spacing: 3px;
    color: #989898;
    float: left;
}

footer .copy {
    width: 30%;
    margin-left: 100px;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
}

footer .media {
    width: 28%;
    margin-left: 100px;
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-85%, -50%);
}

footer img {
    margin: 5px;
}

